@{
    ViewData["Title"] = "Отказ";
}

<div class="jumbotron text-center">
    <h1 class="display-3">Възникна проблем при опита Ви за резеравация.</h1>
    <hr>
    <p class="lead"><strong>Моля опитайте пак</strong> или се свържете с нас за изясняване на проблема.</p>
</div>