@{
    ViewData["Title"] = "Успех";
}

<div class="jumbotron text-center">
    <h1 class="display-3">Благодаря за Резервацията Ви!</h1>
    <hr>
    <p class="lead"><strong>При проблеми</strong> касаещи резервацията, моля свържете се с нас.</p>
</div>