@{
    ViewData["Title"] = "Home Page";
}

<br>
<br>
<br>

<div style="height:1000px; width:100%; display:inline-block; overflow:hidden;">
    <iframe class="custom-google-map" style="position:relative; top:-50px; border:none;"
            src="https://www.google.com/maps/d/embed?mid=1p5Leuz2jEKqv9M42kTPadckgj_mEHvBa" width="1140" height="1000">
    </iframe>
</div>

<div id="msgInfo" class="isa_info" style="display: none;">
    <i class="fa fa-info-circle"></i>
    <strong>Information!</strong>
    <strong id="msgInfoText"></strong>
</div>
<div id="msgSuccess" class="isa_success" style="display: none;">
    <i class="fa fa-check"></i>
    <strong>Success!</strong>
    <strong id="msgSuccessText"></strong>
</div>
<div id="msgWarn" class="isa_warning" style="display: none;">
    <i class="fa fa-warning"></i>
    <strong>Warning!</strong>
    <strong id="msgWarnText"></strong>
</div>
<div id="msgError" class="isa_error" style="display: none;">
    <i class="fa fa-times-circle"></i>
    <strong>Error!</strong>
    <strong id="msgErrorText"></strong>
</div>