@{
    ViewData["Title"] = "Home Page";
}

<br>
<br>
<br>

<div style="height:1000px; width:100%; display:inline-block; overflow:hidden;">
    <iframe class="custom-google-map" style="position:relative; top:-50px; border:none;"
            src="https://www.google.com/maps/d/embed?mid=1p5Leuz2jEKqv9M42kTPadckgj_mEHvBa" width="1140" height="1000">
    </iframe>
</div>

