@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url('https://i.imgur.com/YflXnom.jpg');">
                <span class="login100-form-title-1">
                    Регистрация
                </span>
            </div>
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h4><b>Създаване на нов акаунт</b></h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="wrap-input100 validate-input m-b-26" style="margin-top:10px">
                    <label asp-for="Input.Email">Имейл</label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="wrap-input100 validate-input m-b-26" style="margin-top:10px">
                    <label asp-for="Input.FirstName">Име</label>
                    <input asp-for="Input.FirstName" class="form-control" />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="wrap-input100 validate-input m-b-26" style="margin-top:10px">
                    <label asp-for="Input.LastName">Фамилия</label>
                    <input asp-for="Input.LastName" class="form-control" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div class="wrap-input100 validate-input m-b-26" style="margin-top:10px">
                    <label asp-for="Input.Password">Парола</label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="wrap-input100 validate-input m-b-26" style="margin-top:10px">
                    <label asp-for="Input.ConfirmPassword">Потвърждаване на Парола</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <BR>
                <div style="margin-left:40%">
                    <input type="submit" class="btn btn-success" style="margin-bottom:10px" value="Регистрация" />
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
